.nav-container{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;

    border: 1px solid red;
    nav{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        ul{
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            li{

            }
        }
    }
}